<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satellite's eyes</title>
    <link rel="stylesheet" href="{{url_for( 'static', filename='index.css')}}">
    <link rel="stylesheet" href="https://openlayers.org/en/v6.13.0/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v6.13.0/build/ol.js"></script>
</head>
<body>  

        <div class="Nav-bar">
            <img class="Logo" src="{{url_for( 'static', filename='images/logo.png')}}">
            <p>Satellite's eyes open doors to exploring the world.</p>
            <ul >

                <li><a href="#">Home</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#"></a>
                    <div class="dropdown">
                        <a href="#">Company Overview</a>
                        <div class="dropdown-content" id="company-list">
                            <ul class="dropdown-UL" style="color: black;">
                                {% for company in data %}
                                    <li><a href="#" style="color: black;">{{ company[1] }}</a>
                                        <ul style="color: black;">
                                            <li><a href="#">Vector</a>
                                                <ul style="color: black;">
                                                    <li><a href="/line/{{ company[0] }}">line</a></li>
                                                    <li><a href="/poly/{{ company[0] }}">poly</a></li>
                                                    <li><a href="/point/{{ company[0] }}">point</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Raster</a>
                                                <ul style="color: black;">
                                                    <li><a href="#">Raster Image</a></li>
                                                    <li><a href="#">Satellite field trip</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>        
                </li>
                <li><a href="#">Team Work</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/Login">Log in</a></li>

            </ul>
        </div>

        <div class="content">
            <div class="Forms">
                <ul class="Form"><br>

                    <li onclick="toggleForm('form1', 'arrow1')">Upload Data <span id="arrow1" class="arrow"></span></li>
                    <form id="form1" action="/upload" method="post" enctype="multipart/form-data">
                        <p style="color: red;">{{ error1 }}</p><br>

                        <label class="file" for="Raster-Image">Raster Image</label>
                        <input class="btn" type="file" id="Raster-Image" name="Rasterimage" accept=".tif, .tiff"><br>
                        
                        <label class="file" for="Vector">Vector</label>
                        <input class="btn" type="file" id="Vector" name="Vector" accept=".geojson">
                    
                        <br><input class="btn" type="submit" value="Upload"><br><br>
                    </form><br>
                    
                    
                    <li onclick="toggleForm('form2', 'arrow2')">Latitude and Longitude <span id="arrow2" class="arrow"></span></li>
                    <form id="form2" action="/search"  method="post" enctype="multipart/form-data">
                        {% if error_message %}
                        <p style="color: red;">{{ error_message }}</p><br>
                        {% endif %}
                        <label for="Lat" style="color:white;">Latitude</label>
                        <input class="inp-box" type="text" name="latitude" id="Lat" placeholder="latitude" style="margin-left: 27px;color:white" ><br><br>

                        <label for="Lon" style="color:white;">Longitude</label>
                        <input class="inp-box"  type="text" name="longitude" id="Lon" placeholder="longitude" style="color:white;" ><br>

                        <input class="btn" type="submit" value="Search"><br><br>
                    </form><br>

                    <li onclick="toggleForm('form3', 'arrow3')">Search using company name <span id="arrow3" class="arrow"></span></li>
                    <form id="form3" action="/company" method="POST" enctype="multipart/form-data">
                        <p style="color: red;"> {{error_company}} </p><br>
                        <Label for="Company" style="color:white;">Company</Label>
                        <input class="inp-box" type="text" name="company_name" id="Company" placeholder="Enter Name of Company" >
                        <input class="btn" type="submit" value="Search"><br><br><br>
                        <div>
                            <ul>
                            {% for company_list in company %}
                                <li>{{ company_list[0] }}</li>
                            {% endfor %}
                            </ul>
                        </div> 
                    </form>

                </ul>
                
            </div>
            <div id="map" class="Map-Div"></div>
            <div id="popup" class="ol-popup"
             style="background-color: rgb(255, 255, 255);margin:10px 0 0 40px;">
                <div id="popup-content"></div>
            </div>
        </div>





















    <script src="../static/index.js"></script>
    

    <script>
        var filename = "{{ filename }}";
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([30, 31]),
                zoom: 4
            })
        });
        //Upload Vector
        if (filename) {
            var vectorSource = new ol.source.Vector({
                url: '/uploadfile/' + filename,
                format: new ol.format.GeoJSON()
            });
    
            var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 8,
                        fill: new ol.style.Fill({ color: 'red' }),
                        stroke: new ol.style.Stroke({
                            color: 'black',
                            width: 6
                        })
                    })
                })
            });
            map.addLayer(vectorLayer)
            //create map for vector
          //  var map = new ol.Map({
           //     target: 'map',
          //      layers: [
           //         new ol.layer.Tile({
            //            source: new ol.source.OSM()
           //         }),
            //        vectorLayer
            //    ],
           //     view: new ol.View({
            //        center: ol.proj.fromLonLat([30, 31]),
             //       zoom: 4
            //    })
           // });
    
            var popup = new ol.Overlay({
                element: document.getElementById('popup'),
                positioning: 'bottom-center',
                stopEvent: false
            });
            map.addOverlay(popup);
    
            map.on('click', function(event) {
                var feature = map.forEachFeatureAtPixel(event.pixel, function(feature) {
                    return feature;
                });
    
                if (feature) {
                    var coordinates = feature.getGeometry().getCoordinates();
                    var properties = feature.getProperties();
                    var content = '<b>' + properties['Company'] + '</b><br>' +
                        'Country: ' + properties['Country'] + '<br>' +
                        'Latitude: ' + properties["Latitude"] + '<br>' +
                        'Longitude: ' + properties["Longitude"];
    
                    popup.setPosition(coordinates);
                    document.getElementById('popup-content').innerHTML = content;
                } else {
                    popup.setPosition(undefined);
                }
            });
        } 
        var latitude = {{ latitude|default(0) }};
        var longitude = {{ longitude|default(0) }};
        //map for lat and lon
        

        if (latitude && longitude) {
            var marker = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitude]))
            });

            var markerStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 1],
                    src: 'https://openlayers.org/en/latest/examples/data/icon.png'
                })
            });

            marker.setStyle(markerStyle);

            var vectorSource = new ol.source.Vector({
                features: [marker]
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            map.addLayer(vectorLayer);
        }    
        var popup = new ol.Overlay({
            element: document.getElementById('popup'),
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        map.addOverlay(popup);

     //   var closer = document.getElementById('popup-closer');
     //   closer.onclick = function() {
     //       popup.setPosition(undefined);
     //       closer.blur();
     //       return false;
      //  };

        {% if geojson_data %}
        var geojsonFeature = {{ geojson_data | tojson | safe }};
        var format = new ol.format.GeoJSON();
        var features = format.readFeatures(geojsonFeature, {
            featureProjection: 'EPSG:3857'
        });
        
        

        var vectorSource = new ol.source.Vector({
            features: features
        });

        var vectorPoint = new ol.layer.Vector({
            source: vectorSource,
            style: new ol.style.Style({
                image: new ol.style.Circle({
                    radius: 8,
                    fill: new ol.style.Fill({ color: 'red' }),
                    stroke: new ol.style.Stroke({
                        color: 'white',
                        width: 2
                    })
                })
            })
        });

        map.addLayer(vectorPoint);

        map.on('click', function(event) {
            var feature = map.forEachFeatureAtPixel(event.pixel, function(feature) {
                return feature;
            });

            if (feature) {
                var coordinates = feature.getGeometry().getCoordinates();
                popup.setPosition(coordinates);
                var properties = feature.getProperties();
                var content = '<p>Company: ' + properties['Company'] + '</p>' +
                            '<p>Country: ' + properties['Country'] + '</p>' +
                            '<p>Latitude: ' + properties['Latitude'] + '</p>' +
                            '<p>Longitude: ' + properties['Longitude'] + '</p>';
                document.getElementById('popup-content').innerHTML = content;
            } else {
                popup.setPosition(undefined);
            }
        });
        var vectorLine = new ol.layer.Vector({
            source: vectorSource,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'red',
                    width: 2
                })
            })
        });
        map.addLayer(vectorLine);
        

        var vectorpoly = new ol.layer.Vector({
            source: vectorSource,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: 'red',
                    width: 20
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255, 0, 0, 0.2)' 
                })
            })
        });
        map.addLayer(vectorpoly);
        
        {% endif %}

    </script>
    
</body>
</html>
