<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="{{url_for( 'static', filename='login.css')}}">
</head>
<body>
    <div class="Nav-bar">
        <img class="Logo" src="{{url_for( 'static', filename='images/logo.png')}}">
        <p>Satellite's eyes open doors to exploring the world.</p>
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="#">Company Overview</a></li>
            <li><a href="#">Team Work</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Log in</a></li>

        </ul>
    </div>
    <section class="home">
        <div class="content">
            <h2>Satellites, your eyes in the sky.</h2>
            <p>
                satellites play the role of observers or monitors from high above the Earth,
                providing surveillance, data collection, and imagery from space

            </p>
        </div>
        <div class="wrapper-login">
            <form>
                <div class="input-box">
                    <label for="username">UserName</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="input-box">
                    <label for="Password">Password</label>
                    <input type="Password" id="Password" name="Password"><br><br>
                </div><br>
                <div class="remember">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#" style="color: blue;">Forgert Password?</a>
                </div>
                <br><button type="submit" class="btn">Login</button><br><br>
                <div class="register">
                    <p>Not a member? <a href="#" style="color: blue;">Sign UP</a></p>
                </div>
            </form>
        </div>
    </section>

</body>
</html>