*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body{
        height: 123vh;
        background-image:  url("images/background.webp") ;
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(10px);
}
.Logo{
    cursor: pointer;
    margin-left: 40px;
    width: 90px;
    height: 70px;
}
.Nav-bar p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: -260px;
    width: 260px;
}

.Nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    width: 100%;
    border: 1px solid;
    height: 87px;
}
.Nav-bar ul li{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}
.Nav-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.Nav-bar ul li::after{
    content: "";
    width: 20%;
    height: 3px;
    position: absolute;
    background-color: blue;
    bottom: -10px;
    left: 0;
    transition: .5s;
}
.Nav-bar ul li:hover::after{
    width: 100%;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.content{
    width: 100%;
    height: 100vh;
    padding: 0;
}
.content .Forms{
    width:25%;
    height:110vh;
    border: 1px solid;
    padding: 0;


}
.inp-box{
    width: 70%;
    height: 20px;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.822);
    border-radius:20px ;
    padding: 15px 45px 20px 20px;
    color: rgb(255, 255, 255);
    margin-left:15px;
}
.inp-box::placeholder{
    color: rgb(255, 255, 255)
}
input[type="file"]{
    display: none;
}
.file
{
    color: black;
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform: translateY(15px);
    margin-left: 0px;
    box-shadow: 0 0 10px rgb(0, 4, 255);
    cursor: pointer;
}
.btn{
    transform: translateY(15px);
    margin-left: 40px;
    width: 70%;
    border-radius:5px ;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 35px;
    box-shadow: 0 0 10px rgb(56, 56, 56);
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.content .Forms ul li{
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.content .Forms ul li:hover{
    background-color: rgb(174, 174, 212);
}
.content .Forms form{
    display: none;
    padding: 10px;
    /* background-color: rgb(194, 194, 194); */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.arrow{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 #d7c7ff #d7c7ff #d7c7ff;
}

.arrow.down{
    transform: translateY(-50%) rotate(180deg);
}
.Map-Div{
        border: 1px solid;
        margin-left: 25%;
        transform: translateY(-718px);
        height: 110vh;
        background: transparent;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #000000;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown-UL {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: none;
    color: #000000;
}

.dropdown-content .dropdown-UL li {
    padding: 12px 16px;
    text-decoration: none;
    position: relative;
    color: #000000;
}
.dropdown-content .dropdown-UL li a{
    text-decoration: none;
    position: relative;
    color: #000000;
}
.dropdown-content .dropdown-UL ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    color: #000000;
    
}

.dropdown-content .dropdown-UL li:hover > ul {
    display: block;
}

.dropdown-content .dropdown-UL ul li {
    padding: 8px 16px;
}

.dropdown-content .dropdown-UL ul li:hover {
    background-color: #f1f1f1;
}
.dropdown-content .dropdown-UL li:hover {
    background-color: #f1f1f1;
}
.Nav-bar .dropdown-content ul li::after{
    content: "";
    width: 20%;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: -.5px;
    left: 0;
    transition: none;
}
.Nav-bar .dropdown-content ul li:hover::after{
    width: 100%;
}